bookstore/env/
bookstore/Pipfile
bookstore/Pipfile.lock
bookstore/__pycache__/
bookstore/*.pyc
bookstore/*.pyo
bookstore/*.pyd
bookstore/*.db
bookstore/*.sqlite3
bookstore/*.log
bookstore/*.egg
bookstore/*.egg-info/
bookstore/dist/
bookstore/build/
bookstore/*.whl
bookstore/*.tar.gz
bookstore/.pytest_cache/
