[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cleo = "*"
poetry = "*"
django = "*"
django-extensions = "*"
djangorestframework = "*"
factory-boy = "*"

[dev-packages]

[requires]
python_version = "3.10"
