[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
poetry = "*"
django = "*"
djangorestframework = "*"
factory-boy = "*"
django-debug-toolbar = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
